// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#roboto') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular-webfont.eot');
    src: url('../fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Regular-webfont.svg#roboto') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#roboto') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Black-webfont.eot');
    src: url('../fonts/Roboto-Black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Black-webfont.svg#roboto') format('svg');
    font-weight: 900;
    font-style: normal;

}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Medium-webfont.eot');
    src: url('../fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?piwihi');
  src:  url('../fonts/icomoon.eot?piwihi#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?piwihi') format('truetype'),
    url('../fonts/icomoon.woff?piwihi') format('woff'),
    url('../fonts/icomoon.svg?piwihi#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.spark-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-DropDownArrow:before {
  content: "\e900";
}
.icon-Travel:before {
  content: "\e901";
}
.icon-Car:before {
  content: "\e902";
}
.icon-Life-Evenet:before {
  content: "\e903";
}
.icon-Education:before {
  content: "\e904";
}
.icon-House:before {
  content: "\e905";
}
.icon-General-Need:before {
  content: "\e906";
}
.icon-calendar:before {
  content: "\e907";
}
.icon-CreateAnAccount:before {
  content: "\e908";
}
.icon-invest:before {
  content: "\e909";
}
.icon-left-arrow:before {
  content: "\e90a";
}
.icon-PayOnline:before {
  content: "\e90b";
}
.icon-Phone:before {
  content: "\e90c";
}
.icon-right-arrow:before {
  content: "\e90d";
}
.icon-SparkYourGoal:before {
  content: "\e90e";
}





/** font face **/
