// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; }

footer {
	background: #01344a;
	padding: 20px 0;
	text-align: center;

	.container {
		max-width: 991px;
	}

	p {
		color: #ccc;
		font-size: 12px;

		@include breakpoint(tablet2) {
			font-size: 10px;
		}
	}

	@include breakpoint(tablet2) {
		padding: 15px 0;
	}
}