// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { 
	height:100%; 
	min-height:100%;
	
}

body.windows {
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.hide { 
	position:relative;
}

.ease,a,input[type="submit"],button { 

	@include transition(all 0.5s ease);
}
.loader { 
	position:relative; 
	overflow:hidden; 
	background:#fff url('../images/page_template/loading.gif') no-repeat center; 
}

#main-container { 
	height:100%; 
	height: auto !important; 
	min-height:100%;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.logo {
	width: 306px;
	margin: 15px auto 30px;

	@include breakpoint(tablet2) {
		width: 190px;
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}
}

.header-hamburger {
	position: fixed;
	cursor: pointer;
	z-index: 1004;
	width: 38px;
	height: 38px;
	cursor: pointer;
	padding: 0;
	border-radius: 6px;
	border: 1px solid #e8e8e8;
	right: 12px;
	top: 15px; 
	background: $coWhite;
	@include transition(all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1));

	@include breakpoint(tablet2) {
		display: block;

	}
}

.header-hamburger a {
	width: 40px;
	height: 40px;
	display: block;
	@include transform(rotate(0deg));
	@include transition(transform 0.4s ease);
}

.header-hamburger span:first-child, .header-hamburger span:nth-child(2), .header-hamburger span:nth-child(3) {
	content: '';
	cursor: pointer;
	height: 2px;
	width: 20px;
	background: #4d4d4d;
	position: absolute;
	display: block;
	@include transition(transform 0.4s ease-in-out);
}

.header-hamburger span {
	right: 10px;
	top: 18px;

	&:first-child {
		@include transform(translate(0px, -7px) scale(1));
	}

	&:last-child {
		@include transform(translate(0px, 0px) scale(1));
	}

	&:last-child {
		@include transform(translate(0px, 7px) scale(1));
	}
}

.header-hamburger.active {

	a {
		@include transform(rotate(90deg));
	}
}

/*.header-hamburger.active {
	background: transparent;
}

.header-hamburger.active span {
  	background: transparent !important;
}

.header-hamburger.active span:before, .header-hamburger.active span:after {
  	top: 0;
  	background: $defaultColor;
}*/

.header-hamburger.active span:nth-child(2) {
  	@include transform(rotate(0deg) scale(0))
}

.header-hamburger.active span:first-child {
  	@include transform(rotate(45deg) scale(1));
}

.header-hamburger.active span:last-child {
 	@include transform(rotate(-45deg) scale(1));
}


