.table-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 102;
    display: table;
    min-height: 540px;

    .table-cell {
        height: 100%;
        vertical-align: middle;
        display: table-cell;
    }
}

.coverimage, .banner-text {
    position: relative;
    min-height: 540px;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 88px);
    max-height: 868px;

    @include breakpoint(tablet) {
        height: calc(100vh - 88px);
    }

    @include breakpoint(tablet2) {
        min-height: 380px;
        height: calc(100vh);
    }

    img {
        border: none;
        display: inline-block;
        position: relative;
        outline: none;
    }

}

.banner-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    color: $coWhite;
    padding-bottom: 60px;

    h1 {
        color: $coWhite;
        font-weight: 900;
        font-size: 50px;
        line-height: 62px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.2);
        max-width: 720px;
        margin: 0 auto 40px;
        @include transition(all 0.3s ease);
        opacity: 0;

        &.is-animated {
            opacity: 1;
            @include transition(all 0.2s 0.2s ease);
        }


        span {
            position: relative;
            opacity: 0;
            display: inline-block;
            @include transform(translateY(50px));
            @include transition(all 0.3s ease);
            color: #77e0b8;

            &.is-animated {
                opacity: 1;
                @include transform(translateY(0px));
                @include transition(all 0.3s 0.3s ease);
            }

        }

        @include breakpoint(tablet) {
            font-size: 40px;
            line-height: 52px;
        }

        @include breakpoint(tablet2) {
            margin-bottom: 30px;
        }

        @include breakpoint(mobile) {
            font-size: 30px;
            line-height: 42px;
            margin-bottom: 20px;
        }
    }

    p {
        font-size: 16px;
        color: $coWhite;
        padding-bottom: 15px;
        font-weight: 300;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.2);
        @include transition(all 0.3s ease);
        opacity: 0;

        &.is-animated {
            opacity: 1;
            @include transition(all 0.2s 0.2s ease);
        }

    }

    h5 {
        margin-top: 40px;
        font-weight: 400;
        font-size: 20px;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1), 0px 0px 15px rgba(0, 0, 0, 0.2);
    }

    .container {
        padding-bottom: 250px;
    }

    .btn {
        @include transition(all 0.3s ease);
        opacity: 0;

        &.is-animated {
            opacity: 1;
            @include transition(all 0.2s 0.2s ease);
        }
    }
}

.home-slide-item {
    position: relative;
    overflow: hidden;
    transform-origin: center center;
    height: calc(100vh - 88px);
    min-height: 540px;
    max-height: 868px;
    opacity: 1;
    //@include transform(scale3d(1.3, 1.3, 1.3));
    @include transition(transform 1.4s cubic-bezier(1, 0, 0, 1));

    &.is-animated {
        opacity: 1;
        @include transform(scale3d(1, 1, 1));
    }

    @include breakpoint(tablet) {
        height: calc(100vh - 88px);
    }

    @include breakpoint(tablet2) {
        min-height: 380px;
        height: calc(100vh);
    }
}

.home-flexslider {
    height: calc(100vh - 88px);
    min-height: 540px;
    position: relative;
    max-height: 868px;
    overflow: hidden;
    opacity: 0;
    @include transition(opacity 0.4s ease);
    zoom: 1;

    &.is-animated {
        opacity: 1;
    }

    @include breakpoint(tablet) {
        height: calc(100vh - 88px);
    }

    @include breakpoint(tablet2) {
        min-height: 380px;
        height: calc(100vh);
    }
}

.banner-text-wrap {
    position: relative;
    opacity: 0;
    @include transform(translateY(-100px) scale3d(0.4, 0.4, 0.4));
    @include transition(all 0.4s 0.6s  ease);
    margin: 0px 50px;

    @include breakpoint(tablet2) {
        margin: 0;
    }

    &.is-animated {
        @include transform(translateY(0px) scale3d(1, 1, 1));
        opacity: 1;
    }
}

.home-flexslider {


    ul.slides {

        li {
            -webkit-animation: none;
            -moz-animation: none;
            -ms-animation: none;
            -o-animation: none;
            animation: none;

            &.flex-active-slide {
                -webkit-animation: animBg 1.5s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
                -moz-animation: animBg 1.5s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
                -ms-animation: animBg 1.5s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
                -o-animation: animBg 1.5s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
                animation: animBg 1.5s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;

                @include breakpoint(tablet2) {
                    -webkit-animation: none !important;
                    -moz-animation: none !important;
                    -ms-animation: none !important;
                    -o-animation: none !important;
                    animation: none !important;
                }

            }
        }
    }

    .flex-control-nav {
        opacity: 0;
        @include transition(opacity 0.4s ease);

        &.flex-control-paging {
            position: absolute;
            top: 50%;
            text-align: center;
            @include transform(translate(0, -50%));
            z-index: 1001;
            right: 30px;

            @include breakpoint(tablet2) {
                display: none;
            }

            li {
                display: block;
                width: 20px;
                height: auto;
                margin: 8px 5px;



                a {
                    width: 16px;
                    height: 16px;
                    border: 3px solid $coWhite;
                    position: relative;
                    overflow: hidden;
                    border-radius: 50%;
                    text-indent: -9999px;
                    display: block;
                    text-align: left;
                    -webkit-backface-visibility: hidden;

                    &.flex-active {
                        background: $coWhite;


                        &:after {
                            @include transition(all 5s ease-in);
                            background: $coWhite;
                            @include transform(scale(1));
                            opacity: 1;
                        }
                    }

                    &:after {
                        content:'';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -6px;
                        margin-top: -6px;
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background: transparent;
                        @include transition(width 0s ease-in);
                        @include transform(scale(0));
                        opacity: 0;
                    }
                }
            }
        }
    }
}

.flex-viewport {
    max-height: 2000px;
    @include transition(all 0.4s ease);
}


.watch-video {
    border: 2px solid $coWhite;
    border-radius: 20px;
    padding: 0 45px 0px 20px;
    line-height: 38px;
    position: relative;
    color: $defaultColor;
    min-width: 170px;
    font-size: 16px;
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    text-transform: capitalize;
    text-decoration: none;
    background: $coWhite;

    &:hover {
        color: $coRed;

        /*&:before {
            opacity: 0;
        }*/

        span.icon-play {

            
        }
    }

    /*&:before {
        content:'';
        width: 100%;
        background: rgba($coWhite, 1);
        height: 100%;
        position: absolute;
        left: 0;
        border-radius: 20px;
        @include transition(all 0.4s cubic-bezier(1, 0, 0, 1));
        @include transform(scale(1));
        opacity: 1;
    }*/

    @include breakpoint(phablet) {
        margin-top: 20px;
    }

    span {
        position: relative;
        z-index: 2;
    }

    span.icon-play {
        width: 33px;
        height: 33px;
        background: $coRed;
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 2px;
        right: 3px;
        color: $coRed;
        text-align: center;

        
        &:before {
            content:'';
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-left: 10px solid #fff;
            border-bottom: 6px solid transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -7px;
            margin-left: -3px;
        }
        
    }
}



.slot-wrap {
    position: relative;
    height: 220px;
    margin-top: 30px;

    @include breakpoint(tablet) {
        height: 190px;
    }

    @include breakpoint(phablet) {
        height: 140px;
    }
}

.slot-available {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0 auto;
    border: 2px solid $coWhite;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    @include transform(translate(-50%, 0));

    @include breakpoint(tablet) {
        width: 190px;
        height: 190px;
    }

    @include breakpoint(phablet) {
        width: 140px;
        height: 140px;
    }

    &:before {
        content: "\e900";
        display: block;
        color: $coWhite;
        font-size: 20px;
        -webkit-animation: animArrow 1s infinite ease;
        -moz-animation: animArrow 1s infinite ease;
        -ms-animation: animArrow 1s infinite ease;
        -o-animation: animArrow 1s infinite ease;
        animation: animArrow 1s infinite ease;
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;

        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-size: 20px;
        font-weight: 300;
        position: absolute;
        top: 18px;
        left: 50%;
        margin-left: -15px;

        @include breakpoint(tablet2) {
            font-size: 14px;
            margin-left: -8px;
        }

    }

    h2 {
        font-size: 100px;
        line-height: 90px;
        color: $coWhite;
        text-align: center;
        font-weight: 900;
        width: 100%;
        margin-top: 15px;

        @include breakpoint(tablet) {
            font-size: 80px;
            line-height: 70px;
        }

        @include breakpoint(phablet) {
            font-size: 60px;
            line-height: 50px;
        }

        span {
            font-size: 30px;
            line-height: 30px;
            display: block;

            @include breakpoint(tablet) {
                font-size: 26px;
                line-height: 26px;
            }

            @include breakpoint(phablet) {
                font-size: 20px;
                line-height: 22px;
            }
        }
    }
}

.desktop-cover {
    display: block;

    @include breakpoint(tablet2) {
        display: none;
        visibility: hidden;
    }
}

.mobile-cover {
    display: none;
    visibility: hidden;

    @include breakpoint(tablet2) {
        display: block;
        visibility: visible;
    }
}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}

.bp-ab {
    position: absolute;
}

.parallax.bp-ab {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.floating-img {
	height: 0;
	padding-bottom: 50%;
	width: 40%;
	overflow: hidden;
	position: relative;

	@include breakpoint(tablet) {
		height: auto;
		padding-bottom: 0;

	}

    @include breakpoint(tablet2) {
        display: none;
    }

	@include breakpoint(phablet) {
		width: 100%;
		display: none;
	}

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.floating-text {
	position: absolute;
	top: 50%;
	width: 50%;
	@include transform(translateY(-50%));
	text-align: center;
	padding: 0px 15px;

	@include breakpoint(tablet) {
		
		width: 100%;
		padding-top: 30px;
		padding-bottom: 30px;
		
	}

    @include breakpoint(tablet2) {
        position: relative;
        top: 0;
        @include transform(translateY(0%));
    }

	@include breakpoint(mobile) {
		padding-left: 0;
		padding-right: 0;
        padding-top: 0;
	}


	&.right {
		right: 0;
	}

	h3 {
		color: $coGreen;
		font-weight: 900;
		margin-bottom: 25px;

		@include breakpoint(mobile) {
			margin-bottom: 15px;
		}
	}

	p {
		font-size: 20px;
		line-height: 24px;
		font-weight: 300;

		@include breakpoint(tablet) {
			font-size: 16px;
		}
	}

	.fl-img {
		background: $coGreen;
	}
}

.jq-section {
    @include breakpoint(tablet2) {
        width: 48%;
        display: inline-block;
        vertical-align: top;
    }

    @include breakpoint(mobile) {
        width: 100%;
        display: block;
    }
}

.full-boxes {
	position: relative;

    

	.container {
		position: relative;

        &.c-right {
            margin: 0 0 0 auto;
        }

		@include breakpoint(tablet) {
			float: none;
			width: 60%;
            margin: 0;
		}

        @include breakpoint(tablet2) {
            width: 100%;
            float: none;
        }

		@include breakpoint(phablet) {
			float: left;
			width: 100%;
		}
	}
}

.phone-holder {
	width: 236px;
    height: 480px;
    position: absolute;
	right: 100%;
	bottom: -50px;
	margin-right: -50%;
	max-height: 687px;
    background: url('../images/phone-holder.png') no-repeat center center;
    background-size: contain;

	@include breakpoint(tablet) {
		margin-right: 0;
        width: 180px;
	}

    @include breakpoint(tablet2) {
        display: none;
    }
}

.phone-holder-wrap {
	width: 89.5%;
    height: 0;
    position: relative;
    padding-bottom: 157%;
    top: 11%;
    left: 5%;

    @include breakpoint(tablet) {
        top: 95px;
    }

	img {
		width: 100%;
		height: auto;
		display: block;
	}
}

.phone-width {
	width: 50%;
	height: 100%;
	position: absolute;
	z-index: 3;
	top: 0;

	// @include breakpoint(tablet) {
	// 	display: none;
	// }

	&.right {
		right: 0;

		.phone-holder {
			left: 100%;
			margin-left: -50%;

			@include breakpoint(tablet) {
				margin-left: 0;
			}
		}
	}
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    display: table;
    content: " ";
    clear: both;
    float: none;
}

.floating-text {

    .sec-title {
        font-weight: 300;
        color: $defaultColor;

        @include breakpoint(tablet) {
            font-size: 32px;
        }

        @include breakpoint(tablet2) {
            font-size: 24px;
        }

        @include breakpoint(phablet) {
            font-size: 18px;
        }
        
        span {
            color: $coGreen;
        }
    }
}

.spark-app-detail {

    ul {

        padding-bottom: 30px;
    }
}

.fl-img {
	width: 142px;
	height: 142px;
	background: $coWhite;
	border-radius: 50%;
	margin: 0 auto 25px;
    line-height: 142px;
    font-size: 50px;
    color: #fff;

	img {
        position: relative;
        height: auto;
        display: none;
        width: 100%;
        


        @include breakpoint(tablet2) {
            display: block;
        }
    }

    @include breakpoint(tablet) {
        width: 90px;
        height: 90px;
        font-size: 30px;
        line-height: 90px;
        
    }

    @include breakpoint(tablet2) {
        width: 100%;
        height: auto;
        display: block;
        max-width: 280px;
        margin: 0 auto;

        .spark-icon {
            display: none;
        }
    }

    @include breakpoint(mobile) {
		margin-bottom: 15px;
	}

	.spark-icon.icon-SparkYourGoal {
        font-size: 60px;
        line-height: 142px;

        @include breakpoint(tablet) {
            font-size: 40px;
            line-height: 90px;
            
        }
    }

}

@-webkit-keyframes animBg {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}
@-moz-keyframes animBg {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}
@-ms-keyframes animBg {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}
@-o-keyframes animBg {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes animBg {
    0% {
        opacity: 0;
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
        transform: scale(1.2)
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1)
    }
}


